@import "../node_modules/bootstrap/scss/bootstrap";
@import "./fonts.scss";

/*----*/

html {
    scroll-behavior: smooth;
}

body {
    color: #000;
    font-family: 'open_sansregular';
    text-align: left;
    position: relative;
}

ul {
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
}

a:hover {
    color: #0056b3;
    text-decoration: none;
}

button:focus {
    outline: none;
    box-shadow: none;
}

option {
    text-align-last: center;
    background-color: #f9fafa;
    color: #000;
    &:hover {
        background-color: transparent;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0px;
    padding: 0px;
    text-transform: capitalize;
    font-family: 'open_sansregular';
    letter-spacing: 1px;
}

p {
    margin: 0px;
    padding: 0px !important;
    font-size: 14px;
    font-family: 'open_sansregular';
    color: #000;
}

.btn-orange {
    background-color: #ef7603;
    color: #fff!important;
    border: 1px solid #ef7603;
    transition: 0.5s;
    border-radius: 4px;
    &:hover {
        background-color: #ef7603;
        color: #ef7603;
        border: 1px solid #ef7603;
        transition: 0.5s;
    }
}

.btn-black {
    background-color: #181824;
    color: #fff!important;
    border: 1px solid #181824;
    transition: 0.5s;
    border-radius: 4px;
    &:hover {
        background-color: #ed7602;
        color: #fff;
        border: 1px solid #ed7602;
        transition: 0.5s;
    }
}

.mt-20 {
    margin-top: 20px;
}

.mb-20 {
    margin-bottom: 20px;
}

.pd-0 {
    padding: 0px;
}

.btnCss {
    padding: 6px 20px;
    width: 145px;
    &.wd-210 {
        width: 210px;
    }
    i {
        padding: 0 6px 0 6px;
        font-size: 20px;
        position: relative;
        top: 1px;
    }
}

.btn-default {
    background-color: #ccd3bc;
    border: 1px solid #ccd3bc;
    border-radius: 10px;
    transition: 0.5s;
    &:hover {
        background-color: #bdb7af;
        color: #fff;
        border: 1px solid #bdb7af;
        transition: 0.5s;
    }
}

textarea,
select,
input[type="text"],
input[type="url"],
input[type="number"],
input[type="email"],
input[type="button"],
input[type="reset"],
input[type="password"],
input[type="search"],
input[type="tel"] {
    -webkit-box-shadow: none;
    box-shadow: none;
    resize: none;
}

textarea:focus,
select:focus,
input[type="text"]:focus,
input[type="url"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.form-control {
    background-color: #f9f9f9;
    height: 32px;
    font-size: 14px;
    border-radius: 4px;
    border: 1px solid #A2968A;
    padding: 3px 6px;
    &:focus {
        outline: none;
        border-color: none;
        box-shadow: none;
    }
    &.mHeight {
        min-height: 120px;
    }
}

.dreagDrop {
    min-height: 120px;
}

.widthLimit {
    max-width: 626px;
}

.arroundSpace {
    button {
        margin-right: 15px;
    }
}

.chooseVideo {
    padding-right: 110px;
    input {
        font-size: 13px;
    }
}

.addMoreOption {
    float: right;
    margin-top: -26px;
    font-size: 13px;
    padding: 0.375rem 0.75rem;
    @media(max-width: 400px) {
        float: left;
        margin-top: 15px;
        margin-bottom: 20px;
    }
    i {
        font-size: 12px;
        margin: 0 2px 0 0px;
    }
}

.chooseImage {
    padding-right: 110px;
    input {
        font-size: 13px;
    }
}

.commonClass {
    font-size: 13px;
}

.owl-nav.ng-star-inserted {
    display: none !important
}

.owl-item {
    padding-left: 5px;
    padding-right: 5px;
}

.modal-dialog {
    .modal-content {
        background-clip: unset !important;
        border: 0 !important;
    }
}

// .apexcharts-toolbar{
// 	display: none !important;
// }

/*----*/

.tablePanel {
    .table {
        position: relative;
    }
    thead {
        tr {
            background-color: #f9f9f9;
            th {
                color: #000;
                font-size: 14px;
                padding: 12px 8px;
                vertical-align: top;
            }
        }
    }
    tbody {
        tr {
            td {
                color: #000;
                font-size: 13px;
                vertical-align: middle;
                padding: 8px;
                a {
                    color: #181824;
                    cursor: pointer;
                }
                select {
                    border: none;
                    width: 100%;
                    text-align-last: center;
                    font-weight: bold;
                    height: auto;
                    padding: 2px 10px;
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    -ms-appearance: none;
                    -o-appearance: none;
                    appearance: none;
                    option {
                        text-align-last: center;
                        &:hover {
                            background-color: transparent !important;
                        }
                    }
                    &:focus {
                        outline: none;
                        box-shadow: none;
                    }
                }
                .dpArrow {
                    position: absolute;
                    right: 30px;
                    color: #fff;
                    margin-top: 6px;
                    font-size: 13px;
                }
                .conditonBox {
                    width: 100%;
                    text-align-last: center;
                    font-weight: bold;
                    // background-color: #04A204;
                    height: auto;
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    -ms-appearance: none;
                    -o-appearance: none;
                    appearance: none;
                }
                .iconFont {
                    text-align: center;
                    cursor: pointer;
                    i {
                        font-size: 23px;
                    }
                }
                &.lastChild {
                    width: 140px;
                }
                .actions {
                    @media (max-width: 1280px) {
                        display: -webkit-box;
                        display: -webkit-flex;
                        display: -ms-flexbox;
                        display: flex;
                    }
                    a {
                        margin: 10px 5px;
                        display: inline-block;
                    }
                    i {
                        font-size: 16px;
                    }
                }
            }
        }
    }
}

.tableBodyScroll1.table-bordered th,
.tableBodyScroll1.table-bordered td {
    border: 1px solid #000;
}

//.tableBodyScroll {
//	tbody {
//		display: block;
//		tr {
//			display: table;
//			width: 100%;
//			table-layout: fixed;
//		}
//	}
//	thead {
//		display: table;
//		width: 100%;
//		table-layout: fixed;
//	}
//}
iframe {
    width: 100%;
    @media screen and (max-width: 1400px) {
        height: auto;
    }
}

.green {
    background-color: #04A204;
    // color:#fff;
}

.greenBg {
    background-color: #04A204;
    color: #fff;
    border: none;
    &:hover {
        border: none;
        background-color: #037503;
    }
}

.yellow {
    background-color: #FFEB3B;
}

.yellowBg {
    background-color: #f6dd01;
    border: none;
    &:hover {
        border: none;
        background-color: #dbc504;
    }
}

.red {
    background-color: #F44336;
    // color:#fff;
}

.gray {
    background-color: #ccc;
    // color:#fff;
}

.orange {
    background-color: #f87d18;
}

.orangeBg {
    background-color: #f87d18;
    border: none;
    &:hover {
        border: none;
        background-color: #d56102;
    }
}

.darkGreen {
    background-color: #10bc98;
    border: none;
    &:hover {
        border: none;
        background-color: #10bc98;
    }
}

.colorGreen {
    color: #04A204;
}

.colorYellow {
    color: #FFEB3B;
}

.colorRed {
    color: #F44336;
}

.bg-success {
    background-color: #4FA320 !important;
}

.bg-danger {
    background-color: #F34636 !important;
}

.bg-warning {
    background-color: #FFEB3C !important;
}

tr:nth-child(even),
tr:hover:nth-child(even) {
    background: #f5f5f5 !important;
}

#dtSurveyOver {
    tr:nth-child(even) {
        background: #FFF;
    }
}

tr:nth-child(odd) {
    background: #FFF;
}

.cursor-pointer {
    cursor: pointer;
}


/*  popup modal  */

#alarmReport {
    @media screen and (max-width: 767px) {
        padding: 0 !important;
        margin-top: 0;
        height: calc(100vh - 70px);
        overflow: auto;
    }
    .modal-dialog {
        margin: 20px auto;
        padding-top: 50px;
        // min-width: 680px;
        max-width: 435px;
        @media screen and (max-width: 767px) {
            padding: 0 5px 10px 15px;
            min-width: 100%;
            margin: 0 auto;
        }
        .modal-header {
            background-color: #181824;
            .close {
                color: #fff;
                opacity: 1;
            }
            h4 {
                &.modal-title {
                    color: #fff;
                    font-size: 18px;
                }
            }
        }
    }
    @media screen and (max-width: 767px) {
        table {
            border: 0;
            min-width: 100%;
            thead {
                display: none;
            }
            tr {
                margin-bottom: 10px;
                display: block;
                border-bottom: 2px solid #ddd;
                td {
                    display: block;
                    text-align: right;
                    font-size: 13px;
                    border-bottom: 1px dotted #ccc;
                    position: relative;
                    &:last-child {
                        border-bottom: 0;
                    }
                    &:before {
                        content: attr(data-label);
                        float: left;
                        text-transform: uppercase;
                        font-weight: bold;
                    }
                }
            }
        }
    }
}

// .showsidebar{
// 	@media screen and (max-width: 991px) {
// 		 left:-290px	
// 		}
// 	.sidebar{
// 		margin-left: 0 !important;
// 		.logo{
// 			max-width: none
// 		}
// 	}
// }
.wrapper {
    position: relative;
    top: 0;
    height: 100vh;
}

.mainPanel {
    height: 100%;
    max-height: 100%;
    position: relative;
    float: right;
    width: calc(100% - 260px);
    -webkit-transition: .33s, cubic-bezier(.685, .0473, .346, 1);
    transition: .33s, cubic-bezier(.685, .0473, .346, 1);
    &.expendHeader {
        width: calc(100% - 0px);
    }
}

.mainContent {
    padding: 30px 15px;
    min-height: calc(100vh - 60px);
    margin-top: 56px;
    background-color: #f9f9f9;
    .pageHeader {
        margin: 0 0 30px 0;
        h1 {
            font-size: 22px;
        }
    }
    .card {
        box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .14);
        margin-bottom: 20px;
        .card-header {
            border-bottom: none!important;
            background-color: #181824!important;
            color: #fff!important;
            font-size: 14px;
        }
        .card-body {
            &.activity {
                min-height: 307px;
            }
            .create-user {
                padding: 0 0 30px 0;
                margin: 0 0 30px 0;
                border-bottom: 1px solid #ddd;
                .form-group {
                    label {
                        margin: 0 0 10px 0;
                        font-size: 12px;
                        text-transform: capitalize;
                        color: #000;
                        font-family: 'open_sansregular';
                        letter-spacing: 1px;
                    }
                }
                .right-button {
                    text-align: right;
                    display: flex;
                    align-items: center;
                    margin-top: 8px;
                    @media (max-width: 767px) {
                        margin-top: 0;
                        padding-bottom: 10px;
                    }
                }
                .searchContainer {
                    margin-bottom: 20px;
                    max-width: 240px;
                    position: relative;
                    // @media (max-width: 991px) {
                    // 	margin-left: 0 !important;
                    // }
                    input[type=text] {
                        padding: 4px;
                        margin-top: 0;
                        font-size: 14px;
                        border: 1px solid #eee;
                        width: 100%;
                        border-radius: 4px;
                    }
                    button {
                        padding: 5px 9px;
                        margin-top: 0;
                        margin-right: 0;
                        background: #ddd;
                        font-size: 17px;
                        border: none;
                        cursor: pointer;
                        position: absolute;
                        right: 0;
                        top: 0;
                        &:hover {
                            background: #ccc;
                        }
                    }
                }
            }
            .text {
                font-size: 14px;
            }
            .selectOptions {
                max-width: 120px;
                margin-left: auto;
                @media (max-width: 575px) {
                    margin-left: 0;
                    margin-top: 10px;
                }
            }
            .thumbImage {
                img {
                    max-width: 100%;
                    width: 100%;
                }
            }
            .filterIcons {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                height: 100%;
                ul {
                    list-style: none;
                    li {
                        margin: 10px 0;
                        font-size: 14px;
                        display: inline-block;
                        margin-right: 15px;
                        @media (max-width: 767px) {
                            margin-right: 15px;
                        }
                        i {
                            font-size: 17px;
                            margin: 0 8px 0 0;
                            width: 40px;
                            height: 10px;
                            text-align: center;
                            line-height: 30px;
                            display: inline-block;
                            @media (max-width: 767px) {
                                margin: 0 6px 0 0;
                                width: 8px;
                            }
                            &.colorGreen {
                                background-color: green;
                            }
                            &.colorRed {
                                background-color: red;
                            }
                            &.colorYellow {
                                background-color: yellow;
                            }
                        }
                    }
                }
            }
            .icon {
                margin-bottom: 20px;
                span {
                    font-size: 20px;
                }
                p {
                    font-size: 13px;
                }
            }
            .my-custom-scrollbar {
                position: relative;
                height: 400px;
                overflow: auto;
            }
            .table-wrapper-scroll-y {
                // display: inline-block;
            }
        }
    }
}

.datePicker {
    .mat-form-field-infix {
        height: 35px;
    }
}


/*  sidebaar responsive  */

@media (min-width: 992px) {
    .addInResponsive {
        display: none;
    }
}

@media (max-width: 991px) {
    .navbar {
        .container-fluid {
            justify-content: flex-end;
            padding-right: 5px;
        }
    }
    .mainPanel {
        overflow-x: hidden;
        width: calc(100% - 0px);
        .navbar-toggler {
            padding: 0.25rem 0;
        }
        &.resizeWidth {}
        .mainContent {
            padding: 20px 0px;
            min-width: 300px;
        }
    }
    .sidebar {
        box-shadow: none;
        // margin-left: -260px !important;
        .logo {
            padding: 11px 15px;
            max-width: 150px;
            margin-left: 260px;
            .text {
                font-size: 16px;
            }
            .logoInner {
                font-size: 18px;
                width: 24px;
            }
        }
        .sidebarBg {
            display: none;
        }
        &.widthZero {
            margin-left: 0px !important;
            box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
            .logo {
                margin-left: 0px;
                max-width: inherit;
                .text {
                    font-size: 16px;
                }
                .logoInner {
                    font-size: 18px;
                    width: 24px;
                }
            }
            .sidebarBg {
                display: block;
            }
        }
        .addInResponsive {
            display: block;
            .search-field {
                padding: 0 10px;
                margin-bottom: 15px;
                form {
                    .input-group {
                        border: 1px solid #e9ecef;
                        border-radius: 6px;
                        input {
                            color: #fff;
                        }
                    }
                }
            }
            .userPic {
                text-align: center;
                margin: 20px 0;
                display: block;
                .uImages {
                    width: 60px;
                    height: 60px;
                    border-radius: 50%;
                    background-color: #f1f1f1;
                    display: inline-block;
                }
                .uName {
                    color: #fff;
                    display: block;
                }
            }
        }
    }
    .table {
        &.compTable {
            min-width: 550px;
        }
        &.adcompTable {
            min-width: 390px;
        }
        thead {
            th {
                vertical-align: middle;
            }
        }
        &.tableBodyScroll {
            min-width: 490px;
        }
        &.table-striped {
            min-width: 700px;
        }
    }
}


/*  popup section  */

.modal-body {
    .thumbImage {
        margin-bottom: 15px;
    }
}

.detailText {
    margin-bottom: 20px;
    h3 {
        font-size: 18px;
        color: #000;
        margin-bottom: 10px;
        font-family: 'open_sanssemibold';
    }
    p {
        line-height: 20px;
    }
}


/*  asset main page  */

.haaTable {
    td {
        padding: 20px 0 !important;
    }
}

.type_msg {
    max-width: 570px;
    position: relative;
    .input_msg_write {
        display: flex;
        align-items: flex-end;
    }
    textarea {
        width: 100%;
        padding-right: 50px;
        min-height: 50px;
        padding: 10px;
        border-radius: 5px;
        &:focus {
            outline: none;
            box-shadow: none;
        }
    }
    button {
        border: none;
        background-color: #ef7603;
        color: #fff;
        width: 40px;
        height: 38px;
        border-radius: 50%;
        margin-left: 10px;
        &:hover {
            background-color: #d96f09;
        }
    }
}

.fileAttach {
    width: 100%;
    height: 70px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.textMessageSection {
    background-color: #f9f9f9;
    padding: 20px;
    .smsBlock {
        background-color: #fff;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
        padding-right: 30px;
        position: relative;
        margin-bottom: 20px;
        .smsDelete {
            position: absolute;
            top: 15px;
            right: 10px;
            font-size: 20px;
            color: #f00;
        }
        .userNameId {
            font-size: 15px;
            font-family: 'open_sanssemibold';
        }
        .smsDate {
            color: #ef7603;
            font-family: 'open_sanssemibold';
        }
    }
}

// responsive table
@media(max-width:767px) {
    .customResponsiveTable {
        .table {
            &.tableBodyScroll {
                min-width: 100%;
            }
        }
        thead {
            display: none;
        }
        tbody {
            tr {
                border-bottom: 10px solid #eee;
                td {
                    display: block;
                    text-align: right;
                    padding-left: 50% !important;
                    position: relative;
                    &:before {
                        content: attr(data-label);
                        float: left;
                        font-size: 10px;
                        font-weight: bold;
                        position: absolute;
                        left: 10px;
                    }
                }
            }
            .notFoundResponsive {
                td {
                    padding-left: 15px !important;
                }
            }
        }
    }
    mat-expansion-panel-header {
        height: 85px !important;
        .colorStatusResponsive {
            padding: 0px 30px!important;
        }
    }
}

// scnner css
.videoScanner {
    position: fixed;
    z-index: 99;
    height: 100vh;
    left: 0;
    width: 100%;
    padding-left: 250px;
    background-color: rgba(0, 0, 0, 0.6);
    overflow: hidden;
    right: 0;
    @media(max-width: 991px) {
        padding: 0px 15px;
        overflow: auto;
        height: 100%;
    }
    .videowrapper {
        position: relative;
        display: flex;
        align-items: center;
        max-width: 500px;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        border: 5px solid rgba(255, 255, 255, 0.5);
        left: 50%;
        top: 50%;
        border-radius: 10px;
        @media(max-width: 991px) {
            max-width: 300px;
        }
        .scanner {
            position: relative;
            width: 100%;
        }
        .closeBtn {
            position: absolute;
            right: 10px;
            top: 10px;
            z-index: 999;
            color: #fff;
            font-size: 30px;
        }
        video {
            float: left;
        }
        button {
            float: right;
            position: relative;
            top: -15px;
            right: 5px;
        }
    }
}

// backdrop
.owl-dots {
    display: none !important;
}

@media screen and (min-width: 1025px) {
    .assetsImages {
        max-height: 230px;
        overflow: hidden;
        border-radius: 10px;
        overflow: hidden;
    }
}

@media screen and (max-width: 767px) {
    .flexReverce {
        flex-direction: column-reverse;
    }
    .tableBodyScroll {
        tbody {
            tr {
                &:hover {
                    background-color: transparent;
                }
            }
        }
    }
}