<div class="mainContent">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="pageHeader d-inline-block mb-3">
           <h1 class="m-0">Users</h1>
        </div>
        <div class="addUser float-right"><a [routerLink]="['/admin/add-user']" class="btn btn-black">Add User</a></div>
     </div>
      <div class="col-md-12">
        <div class="card">
          <ngx-spinner></ngx-spinner>
          <div class="card-header">Users</div>
          <div class="card-body">
              <div class="create-user border-0 mb-0">
                <div class="row">
                  <div class="col-sm-12">
                    <div class="searchContainer ml-auto">
                        <input type="text" (keyup)="applyFilter($event.target.value)" placeholder="Search..">
                        <button type="submit"><i class="fa fa-search"></i></button>
                    </div>
                  </div>
                  <div class="col-sm-12">
                    <div class="my-custom-scrollbar">
                      <div class="table-responsive tablePanel table-wrapper-scroll-y">
                       
                        
                        <table mat-table [dataSource]="userData" class="table mat-elevation-z8 w-100 table-bordered table-hover table-striped">

                          <ng-container matColumnDef="Contact Name">
                             <th mat-header-cell *matHeaderCellDef> Contact Name </th>
                             <td mat-cell *matCellDef="let user"> {{user.contactName}} </td>
                          </ng-container>

                          <ng-container matColumnDef="User Name">
                             <th mat-header-cell *matHeaderCellDef> User Name </th>
                             <td mat-cell *matCellDef="let user"> {{user.userName}} </td>
                          </ng-container>

                          <ng-container matColumnDef="Admin or Standard User">
                            <th mat-header-cell *matHeaderCellDef> Admin or Standard User </th>
                            <td mat-cell *matCellDef="let user; let i = index"> {{user.accountType.accountTypeName}} </td>
                          </ng-container>

                          <ng-container matColumnDef="Email">
                            <th mat-header-cell *matHeaderCellDef> Email </th>
                            <td mat-cell *matCellDef="let user"> {{user.email}} </td>
                         </ng-container>


                          <ng-container matColumnDef="Actions">
                             <th class="text-center" mat-header-cell *matHeaderCellDef> Actions </th> 
                             <td mat-cell class="lastChild" *matCellDef="let user">
                                <div class="text-center">
                                  <span class="iconFont"><i class="fa fa-pencil text-success" aria-hidden="true" title="Edit" (click)="updateUser(user)"></i></span>&nbsp;&nbsp;
                                  <span class="iconFont"><i class="fa fa-trash-o colorRed" (click)="deleteUser(user.userId)" aria-hidden="true" title="Delete"></i></span>
                                </div>    
                             </td>
                          </ng-container>

                          <tr mat-header-row *matHeaderRowDef="userTable"></tr>
                          <tr mat-row *matRowDef="let row; columns: userTable;"></tr>
                        </table>
                      </div>
                    </div>
                  </div>

                  <div class="col-sm-12">
                    <div class="addUser">
                        <a [routerLink]="['/admin/add-user']" class="btn btn-black">Add User</a>
                    </div>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-add-user *ngIf="addUserForm" [editData]="editData"></app-add-user>