<ng-container *ngFor="let report of grouppedReports">
  <p class="report-date">Report Date: {{report[0] | date : "dd MMMM yyyy"}}</p>
    <table mat-table [dataSource]="report[1]"
    class="table mat-elevation-z8 w-100 tablxe-bordered table-hover table-striped">
    <ng-container matColumnDef="CMP No">
      <th mat-header-cell *matHeaderCellDef>CMP No</th>
      <td mat-cell *matCellDef="let data">
        {{ data.companyNo }}
      </td>
    </ng-container>

    <ng-container matColumnDef="Area">
      <th mat-header-cell *matHeaderCellDef>Area</th>
      <td mat-cell *matCellDef="let data">
        {{ data.companyArea }}
      </td>
    </ng-container>

    <ng-container matColumnDef="Asset Id">
      <th mat-header-cell *matHeaderCellDef>Asset Id</th>
      <td mat-cell *matCellDef="let data">
        {{ data.assetId }}
      </td>
    </ng-container>

    <ng-container matColumnDef="Alarm Color">
      <th mat-header-cell *matHeaderCellDef>Alarm Color</th>
      <td [ngStyle]="{
                              'background-color': data.alarmColorName
                            }" mat-cell *matCellDef="let data">
        <span class="alarmColor">{{
          data.alarmColorName
          }}</span>
      </td>
    </ng-container>

    <ng-container matColumnDef="Primary Issues">
      <th mat-header-cell *matHeaderCellDef>
        Primary Issues
      </th>
      <td mat-cell *matCellDef="let data">
        {{ data.primaryIssue }}
      </td>
    </ng-container>

    <ng-container matColumnDef="Secondary Issues">
      <th mat-header-cell *matHeaderCellDef>
        Secondary Issues
      </th>
      <td mat-cell *matCellDef="let data">
        <span *ngIf="data.secondaryIssue">{{
          data.secondaryIssue
          }}</span><span *ngIf="data.secondaryIssue == null">None</span>
      </td>
    </ng-container>

    <ng-container matColumnDef="Recommendations">
      <th mat-header-cell *matHeaderCellDef>
        Recommendations
      </th>
      <td mat-cell *matCellDef="let data">
        {{ data.recommendations }}
      </td>
    </ng-container>

    <ng-container matColumnDef="Sap No">
      <th mat-header-cell *matHeaderCellDef>Sap No</th>
      <td mat-cell *matCellDef="let data">
        {{ data.sapNo }}
      </td>
    </ng-container>

    <ng-container matColumnDef="Priority">
      <th mat-header-cell *matHeaderCellDef>Priority</th>
      <td mat-cell *matCellDef="let data">
        {{ data.priority }}
      </td>
    </ng-container>

    <ng-container matColumnDef="reportDate">
      <th mat-header-cell *matHeaderCellDef>Report Date</th>
      <td mat-cell *matCellDef="let data">
        {{ data.reportDate | date : "dd MMMM yyyy" }}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="shortCMTable"></tr>
    <tr mat-row *matRowDef="let row; columns: shortCMTable"></tr>
    </table>
  
</ng-container>