<div class="mainContent">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 col-sm-6">
        <div class="pageHeader mb-3">
          <h1>
            <a>{{ companyName }}</a> Reports
          </h1>
        </div>
      </div>
      <div class="col-md-6 col-sm-6">
        <div class="selectOptions1 float-right mb-3">
          <select class="form-control" [(ngModel)]="companyId" *ngIf="assign" (change)="getByCompanyId($event)"
            style="width: 180px">
            <option *ngFor="let data of assignedCompany" [value]="data.companyId">
              {{ data.companyName }}
            </option>
          </select>
          <div *ngIf="noAssign">No Company Assigned To User</div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="row" id="printDiv">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">Short CM Report List</div>

              <!-- Date-picker form start -->
              <app-short-cm-report-form 
                #shortCmReportForm
                [formDetails]="formDetails" 
                (formSubmit)="getShortCMReportByDate()">
              </app-short-cm-report-form>
              <!-- Date-picker form end -->

              <div class="card-body">
                <form action="#">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="my-custom-scrollbar">
                        <div class="table-responsive tablePanel table-wrapper-scroll-y">
                          <table id="dtBasicExample" class="table table-bordered table-hover tableBodyScroll">
                            <thead>
                              <tr>
                                <th>Report Date</th>
                                <th>Report Title</th>
                                <th>Report Status</th>
                                <th width="200px" class="text-center">
                                  Action
                                </th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let data of companyReportDetailList">
                                <td data-label="report date">
                                  {{ data.reportDate | date : "dd MMMM yyyy" }}
                                </td>
                                <td data-label="eng name">
                                  {{ data.reportTitle }}
                                </td>
                                <td data-label="report status">
                                  {{ data.reportStatus }}
                                </td>
                                <td data-label="action" class="text-center">
                                  <div *ngIf="data.archived == 1">
                                    <a [href]="api + data.pdfDocument" target="_blank" title="View PDF">
                                      <img src="assets/images/pdf-icon.png" style="width: 25px" /> </a>&nbsp;
                                    <a (click)="
                                        deleteReport(
                                          data.companyReportDetailId,
                                          data.companyReportDetailArchivId,
                                          data.reportDate
                                        )
                                      " title="Delete Report">
                                      <i class="fa-lg fa fa-trash text-danger"></i>
                                    </a>
                                  </div>
                                  <div *ngIf="
                                      data.archived == 0 &&
                                      data.reportStatus == 'Publish'
                                    ">
                                    <a (click)="
                                        viewFullCmReport(
                                          data.companyReportDetailId
                                        )
                                      " title="View"><i class="fa fa-eye fa-lg"></i></a>&nbsp;
                                    <img (click)="
                                        print(data.companyReportDetailId)
                                      " id="inputprintbutton" class="cursor-pointer" title="Print"
                                      src="assets/images/pdf-icon.png" style="width: 25px" />&nbsp;
                                    <a (click)="
                                        deleteReport(
                                          data.companyReportDetailId,
                                          data.companyReportDetailArchivId,
                                          data.reportDate
                                        )
                                      " title="Delete Report">
                                      <i class="fa-lg fa fa-trash text-danger"></i>
                                    </a>
                                  </div>
                                  <div *ngIf="
                                      data.archived == 0 &&
                                      data.reportStatus == 'Draft'
                                    ">
                                    <a (click)="editDraft(data)">
                                      <i class="fa-lg fa fa-pencil text-success"></i> </a>&nbsp;
                                    <a (click)="
                                        deleteReport(
                                          data.companyReportDetailId,
                                          data.companyReportDetailArchivId,
                                          data.reportDate
                                        )
                                      " title="Delete Report">
                                      <i class="fa-lg fa fa-trash text-danger"></i>
                                    </a>
                                  </div>
                                </td>
                              </tr>
                              <tr *ngIf="notFound">
                                <td colspan="4" class="text-center p-3">
                                  No Record Found
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Printed And View Div -->
      <div class="col-md-12" id="shorcmtablediv">
        <div class="card">
          <div class="card-header">
            Short CM Report
            <span *ngIf="ShortCMReportList?.filteredData?.length > 0">{{
              ShortCMReportList?.filteredData?.length
              }}</span>
            <span class="float-right">
              <strong *ngIf="companyName">{{ companyName }},</strong>
              {{ reportDate | date : "dd MMMM, yyyy" }}
              <span *ngIf="!shortCmData"><b>, </b>
                <img title="CSV" class="csvImage" (click)="exportTOExcel()" src="../../../../../assets/images/csv.svg"
                  alt="" /></span>
            </span>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-sm-12">
                <div class="table-responsive tablePanel">
                  <div #TABLE>
                    <table mat-table [dataSource]="ShortCMReportList"
                      class="table mat-elevation-z8 w-100 tablxe-bordered table-hover table-striped" *ngIf="!isMultiGenerateReport">
                      <ng-container matColumnDef="CMP No">
                        <th mat-header-cell *matHeaderCellDef>CMP No</th>
                        <td mat-cell *matCellDef="let data">
                          {{ data.companyNo }}
                        </td>
                      </ng-container>

                      <ng-container matColumnDef="Area">
                        <th mat-header-cell *matHeaderCellDef>Area</th>
                        <td mat-cell *matCellDef="let data">
                          {{ data.companyArea }}
                        </td>
                      </ng-container>

                      <ng-container matColumnDef="Asset Id">
                        <th mat-header-cell *matHeaderCellDef>Asset Id</th>
                        <td mat-cell *matCellDef="let data">
                          {{ data.assetId }}
                        </td>
                      </ng-container>

                      <ng-container matColumnDef="Alarm Color">
                        <th mat-header-cell *matHeaderCellDef>Alarm Color</th>
                        <td [ngStyle]="{
                            'background-color': data.alarmColorName
                          }" mat-cell *matCellDef="let data">
                          <span class="alarmColor">{{
                            data.alarmColorName
                            }}</span>
                        </td>
                      </ng-container>

                      <ng-container matColumnDef="Primary Issues">
                        <th mat-header-cell *matHeaderCellDef>
                          Primary Issues
                        </th>
                        <td mat-cell *matCellDef="let data">
                          {{ data.primaryIssue }}
                        </td>
                      </ng-container>

                      <ng-container matColumnDef="Secondary Issues">
                        <th mat-header-cell *matHeaderCellDef>
                          Secondary Issues
                        </th>
                        <td mat-cell *matCellDef="let data">
                          <span *ngIf="data.secondaryIssue">{{
                            data.secondaryIssue
                            }}</span><span *ngIf="data.secondaryIssue == null">None</span>
                        </td>
                      </ng-container>

                      <ng-container matColumnDef="Recommendations">
                        <th mat-header-cell *matHeaderCellDef>
                          Recommendations
                        </th>
                        <td mat-cell *matCellDef="let data">
                          {{ data.recommendations }}
                        </td>
                      </ng-container>

                      <ng-container matColumnDef="Sap No">
                        <th mat-header-cell *matHeaderCellDef>Sap No</th>
                        <td mat-cell *matCellDef="let data">
                          {{ data.sapNo }}
                        </td>
                      </ng-container>

                      <ng-container matColumnDef="Priority">
                        <th mat-header-cell *matHeaderCellDef>Priority</th>
                        <td mat-cell *matCellDef="let data">
                          {{ data.priority }}
                        </td>
                      </ng-container>

                      <ng-container matColumnDef="reportDate">
                        <th mat-header-cell *matHeaderCellDef>Report Date</th>
                        <td mat-cell *matCellDef="let data">
                          {{ data.reportDate | date : "dd MMMM yyyy" }}
                        </td>
                      </ng-container>

                      <tr mat-header-row *matHeaderRowDef="ShortCMTable"></tr>
                      <tr mat-row *matRowDef="let row; columns: ShortCMTable"></tr>
                    </table>

                    <app-multiple-short-cm-report class="multipleShortTermReport" *ngIf="isMultiGenerateReport" [multipleShortCMReportList]="multipleShortTermReport"></app-multiple-short-cm-report>

                  </div>
                  <div class="text-center" *ngIf="ShortCMReportList?.filteredData?.length == null">
                    No Record Found
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">
  <p style="color: white">Please Wait.</p>
</ngx-spinner>