
.customClass{
    @media (max-width: 768px){
        width: 50% !important;
    }
    @media (max-width: 425px){
        width: 100% !important;
    } 
    // .qr__text{
    //     position: absolute;
    //     top: 35%;
    //     left: 44.5%;
    //     padding: 5px 15px;
    //     background: rgba(255,255,255,0.65);
    //     color: #bb5508;
    //     font-weight: 900;
    //     border-radius: 50px;
    //     font-size: 15px;
    // }
}