 <div class="mainContent">
    <div class="container-fluid">
        <div class="customClass" style="width:35%; margin:auto">
            <div class="QRcode">
                <div #screen class="text-center">
                    <h2>CMP No: {{companyNo}} &nbsp; Asset ID: {{assetId}}</h2>

                    <!-- <div class="qr__text">
                        <div class="cmpNo">{{companyNo}}</div>
                        <div class="assetId">{{area}}</div>
                    </div> -->
                    <ngx-qrcode 
                        [elementType]="elementType" 
                        [value]="pdfReportUrl"
                        cssClass="qrcodeCss"
                        errorCorrectionLevel="L">
                        
                    </ngx-qrcode>
                </div>
                
                <div class="mt-3 d-flex" style="justify-content: space-between;">
                    <div class="btn btn-black ml-4 pl-3 pr-3" (click)="downloadImage()">Save</div>
                    <div class="btn btn-black mr-4" (click)="goback()">Cancel</div>
                </div>
                <div id="download" class="d-none">
                  <img #canvas>
                  <a #downloadLink></a>
                </div>
            </div>
        </div>
    </div>
 </div>
