/*--sidebar css--*/

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    width: 260px;
    box-shadow: 0 16px 38px -12px rgba(0, 0, 0, .56), 0 4px 25px 0 rgba(0, 0, 0, .12), 0 8px 10px -5px rgba(0, 0, 0, .2);
    z-index: 10;
    transition: all 0.5s ease-in;
    @media screen and (max-width: 991px) {
        padding-top: 50px;
    }
    &.show {
        left: 0px;
        // margin-left: 0px !important;
        .logo {
            max-width: none;
        }
    }
    @media screen and (max-width: 991px) {
        left: -290px
    }
    .logo {
        margin-left: 260px;
        padding: 5px 15px;
        @media screen and (max-width: 991px) {
            padding: 11px 15px;
        }
        .logoInner {
            font-size: 30px;
            width: 35px;
            @media screen and (max-width: 991px) {
                font-size: 18px;
                width: 24px;
            }
        }
        .text {
            font-size: 24px;
            @media screen and (max-width: 991px) {
                font-size: 18px;
            }
        }
    }
    .logo {
        padding: 15px 15px;
        margin: 0;
        display: flex;
        position: relative;
        z-index: 2;
        background: transparent;
        width: 100%;
        background: #181824;
        margin: 0 0 10px 0;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        align-items: center;
        justify-content: center;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        @media screen and (max-width: 991px) {
            margin: auto;
        }
        .logoInner {
            color: #fff;
            font-size: 40px;
            text-transform: uppercase;
            text-align: left;
            position: relative;
            width: 64px;
            display: inline-block;
            margin: 0 10px 0 0;
            img {
                max-width: 100%;
            }
        }
        .text {
            color: #fff;
            text-transform: uppercase;
            font-size: 36px;
        }
    }
    .sidebarBg {
        // background-image: url("../images/sidebar-1.jpg");
        position: absolute;
        z-index: 1;
        height: 100%;
        width: 100%;
        display: block;
        top: 0;
        left: 0;
        background-size: cover;
        background-position: 50%;
        &:after {
            position: absolute;
            z-index: 3;
            width: 100%;
            height: 100%;
            content: "";
            display: block;
            background: #181824;
            opacity: 1;
        }
    }
    .sidebarWrapper {
        position: relative;
        height: calc(100vh - 90px);
        overflow: auto;
        width: 260px;
        z-index: 4;
        padding-bottom: 30px;
        @media screen and (max-width: 991px) {
            height: calc(100vh - 150px);
        }
        ul {
            margin: 0px;
            padding: 0px;
            list-style: none;
            li {
                padding: 0 10px;
                -webkit-transition-duration: 0.25s;
                transition-duration: 0.25s;
                position: relative;
                a {
                    display: flex;
                    -webkit-box-align: center;
                    -ms-flex-align: center;
                    align-items: center;
                    white-space: nowrap;
                    padding: 15px 0;
                    color: #8e94a9;
                    -webkit-transition-duration: 0.45s;
                    transition-duration: 0.45s;
                    transition-property: color;
                    -webkit-transition-property: color;
                    text-overflow: ellipsis;
                    .icon-bg {
                        margin-right: 0.875rem;
                        background: rgba(194, 244, 219, 0.12);
                        height: 24px;
                        width: 24px;
                        position: relative;
                        z-index: 2;
                        display: -webkit-box;
                        display: -ms-flexbox;
                        display: flex;
                        -webkit-box-align: center;
                        -ms-flex-align: center;
                        align-items: center;
                        -webkit-box-pack: center;
                        -ms-flex-pack: center;
                        justify-content: center;
                        border-radius: 3px;
                        text-align: center;
                        i {
                            color: #ed7602;
                        }
                    }
                    .menu-title {
                        color: inherit;
                        display: inline-block;
                        font-size: 0.937rem;
                        line-height: 1;
                        vertical-align: middle;
                    }
                }
                &.active {
                    background-color: transparent;
                    a {
                        color: #fff;
                    }
                }
                &:hover {
                    background: rgba(255, 255, 255, 0.1);
                    a {
                        color: #fff;
                    }
                }
                .dropdown-menu {
                    background-color: rgb(24, 24, 36) !important;
                    min-width: 220px !important;
                    a {
                        cursor: pointer;
                    }
                }
            }
        }
        .bottomNav {
            position: absolute;
            bottom: 45px;
            width: 100%;
            text-align: center;
            left: 0;
            @media (max-width: 991px) {
                position: relative;
                bottom: 0;
                margin-top: 20px;
            }
            a {
                padding: 6px 40px;
                font-size: 14px;
            }
        }
    }
}