.border{
    border: 25px solid #dee2e6 !important;
    margin: 0 0 15px 0;
    .cursor-pointer{
        cursor: pointer;
    }
    .fa-paper-plane{
        padding: 6px 10px;
        background-color: #dee2e6;
    }
    .list{
        border-top: 16px solid #dee2e6;
        &.padding{
            padding: 15px 25px;
            .word-break{
                word-break: break-word;
            }
        }
        .list-icon{
            position: absolute;
            left: -15px;
            bottom: -12px;
            color: #ffff;
        }
    }
    @media (max-width:767px){
        .iconFont{
          display: flex;
          justify-content: space-between;
          align-items: center;
        }
    }
    @media (max-width:320px){
      .iconFont{
        display: block !important;
      }
  }
}




.container {
    width: 400px;
    height: auto;
    padding: 12px;
    text-align: center;
    border: dashed 1px #979797;
    position: relative;
    margin: 0;
  
    input {
      opacity: 0;
      position: absolute;
      z-index: 2;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }
  
    label {
      color: white;
      width: 183px;
      height: 44px;
      border-radius: 21.5px;
      background-color: #db202f;
      padding: 8px 16px;
      line-height: 28px;
    }
  
    h3 {
      font-size: 18px;
      font-weight: 600;
      color: #38424c;
      margin: 0;
    }
    
  }
  .files-list {
    max-width: 400px;
}
  
  .fileover {
    animation: shake 1s;
    animation-iteration-count: infinite;
  }
  
  .files-list {
    margin-top: 1.5rem;
  
    .single-file {
      display: flex;
      padding: 0.5rem;
      justify-content: space-between;
      align-items: center;
      border: dashed 1px #979797;
      margin-bottom: 1rem;
  
      img.delete {
        margin-left: 0.5rem;
        cursor: pointer;
        align-self: flex-end;
      }
  
  
      display: flex;
      flex-grow: 1;
  
      .name {
        font-size: 14px;
        font-weight: 500;
        color: #353f4a;
        margin: 0;
      }
  
      .size {
        font-size: 12px;
        font-weight: 500;
        color: #a4a4a4;
        margin: 0;
        margin-bottom: 0.25rem;
      }
  
      .info {
        width: 100%
      }
    }
  }
  
  /* Shake animation */
  @keyframes shake {
    0% {
      transform: translate(1px, 1px) rotate(0deg);
    }
  
    10% {
      transform: translate(-1px, -2px) rotate(-1deg);
    }
  
    20% {
      transform: translate(-3px, 0px) rotate(1deg);
    }
  
    30% {
      transform: translate(3px, 2px) rotate(0deg);
    }
  
    40% {
      transform: translate(1px, -1px) rotate(1deg);
    }
  
    50% {
      transform: translate(-1px, 2px) rotate(-1deg);
    }
  
    60% {
      transform: translate(-3px, 1px) rotate(0deg);
    }
  
    70% {
      transform: translate(3px, 1px) rotate(-1deg);
    }
  
    80% {
      transform: translate(-1px, -1px) rotate(1deg);
    }
  
    90% {
      transform: translate(1px, 2px) rotate(0deg);
    }
  
    100% {
      transform: translate(1px, -2px) rotate(-1deg);
    }
  }

  
  .image-wrap {
    padding: 10px;
    border: solid 1px #e0e0e0;
    display: inline-block;
}

.img-space {
    border: dashed 1px #d3d3d3;
    border-radius: 8px;
    background-color: #f2f2f2;
    height: auto;
    width: 100%;
    padding: 10px;
    min-height:84px;
}

.img-space img {
    display: block;
    width: 100%;
    height: 100%;
    margin: auto;
    cursor: pointer;
}

.fileInputProfileWrap {
    width: 100%;
    height: auto;
    max-width: 120px;
}

.fileInputProfile {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 99;
    opacity: 0;
    left: -10px;
}
.fileInputProfile[disabled] + .img-space{
    pointer-events: none;
    cursor: not-allowed!important;
}
.removeImg{
  position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    width: 20px;
    height: 20px;
    text-align: center;
    border-radius: 10px;
    padding-top: 3px;
    right: -6px;
    top: -9px;
    color: #fff !important;
}
.attachmentWrapper {
  form{
    display: flex;
    flex-direction: column;
    float: right;
    text-align: center;
    width:100%;
    fieldset {
      flex-direction: column;
      width: 100%;
    }
 }

}