.card-header {
    justify-content: space-between;
}

.d-block:before {
    content: "";
    display: block;
    width: 3px;
    position: relative;
    top: 21px;
    right: 10px;
    background-color: #eee;
    height: 20px;
}

.show {
    display: none;
}

.loaderIcon {
    -webkit-animation: spin 2s linear infinite;
    /* Safari */
    animation: spin 2s linear infinite;
}

.customModal {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999;
    width: 100%;
    #alarmReport {
        // position: relative;
        &:before {
            position: absolute;
            content: "";
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
        }
    }
}

.graphDataTable {
    position: fixed;
    width: 80%;
    top: 65px;
    @media(max-width: 767px) {
        z-index: 9;
    }
    table {
        td {
            padding: 5px !important;
            white-space: nowrap;
            max-width: 110px;
            overflow: hidden;
            text-overflow: ellipsis;
            @media(max-width: 767px) {
                max-width: 100%;
            }
        }
    }
}

.Status-icon {
    position: relative;
    top: 30px;
    .topIcons {
        width: 150px;
        float: right;
        margin: 0 0 10px 0;
        .fa {
            justify-content: center;
            display: flex;
        }
    }
}

@media (max-width:568px) {
    .float-right {
        float: left !important;
        margin-bottom: 10px;
    }
    .mobile-res {
        .topIcons {
            display: contents;
        }
        display: block !important;
        margin-top: 10px !important;
    }
    .selectOptions {
        margin-top: 10px !important;
    }
}

.cross {
    position: relative;
    overflow: hidden;
    &:before {
        position: absolute;
        top: 9px;
        left: 0;
        content: " ";
        height: 2px;
        width: 100%;
        background-color: #333;
        transform: rotate(8deg);
    }
    &:after {
        position: absolute;
        top: 9px;
        left: 0;
        content: " ";
        height: 2px;
        width: 100%;
        background-color: #333;
        transform: rotate(-8deg);
    }
}

.custom-modal {
    position: absolute;
    z-index: 1;
    margin-top: -80px;
    &.leftTable {
        left: 50%;
    }
    &.leftTableColorStatus {
        right: 50%;
        display: block !important;
        @media(max-width: 1400px) {
            // right:10px;
            right: 385px;
        }
        @media(max-width:991px) {
            left: 0px;
            right: auto;
        }
    }
    &.rightTable {
        right: 50%;
    }
    &.rightTableColorStatus {
        left: 50%;
        display: block !important;
        @media(max-width: 1400px) {
            left: 385px;
        }
        @media(max-width:991px) {
            left: 0px;
        }
    }
    .detailText {
        margin-bottom: 5px !important;
    }
}

.graphDataTable {
    .border {
        border: 1px solid #eee !important;
    }
    .tablePanel tbody tr td {
        word-break: break-all !important;
    }
    .tablePanel thead tr th {
        padding: 5px 5px !important;
    }
    .tablePanel tbody tr td {
        padding: 5px !important;
    }
    img {
        max-height: 200px !important;
    }
    .modal-header {
        padding: 10px !important;
    }
    #alarmReport {
        .modal-dialog {
            min-width: 600px;
            @media(max-width: 767px) {
                min-width: 100%;
            }
        }
    }
    .graph-image {
        height: 200px;
        .graphNotFound {
            position: relative;
            top: 100px;
        }
    }
}

@media screen and (max-width:766px) {
    .statusColumn {
        width: 100%;
        z-index: 1;
        position: relative;
        display: block;
    }
}
@media screen and (max-width:766px) {
    .statusColumn {
        width: 100%;
        z-index: 1;
        position: relative;
        display: block;
    }
}
.resetBtn{
    padding: 6px 20px;
    font-size: 14px;
}
.alarmFilterBtn {
    display: flex;
    justify-content: flex-end;
    grid-gap: 10px;
    &:has(button) {
        .selectOptions {
            flex: 1;
        }
    }
}