<div class="mainContent">
    <div class="container-fluid">
       <div class="row">
          <div class="col-md-12">
             <div class="pageHeader d-inline-block mb-2">
                <h1 class="m-0">Company</h1>
             </div>
             <div class="addUser float-right"><a class="btn btn-black commonClass" (click)="addCompany()">Add Company</a></div>
          </div>
          
            <div class="col-md-12">
             <div class="card">
               <ngx-spinner></ngx-spinner>
                <div class="card-header">Company</div>
                 <div class="card-body">
                  <div class="create-user border-0 mb-0">
                    <div class="row">
                      <div class="col-sm-12">
                        <div class="searchContainer ml-auto">
                           <input type="text" (keyup)="applyFilter($event.target.value)" placeholder="Search..">
                           <button type="submit"><i class="fa fa-search"></i></button>
                        </div>
                      </div>
        
                      <div class="col-sm-12">
                          <div class="table-responsive tablePanel table-wrapper-scroll-y my-custom-scrollbar">
                           
                           <table mat-table [dataSource]="companyList" class="table mat-elevation-z8 w-100 table-bordered table-hover table-striped">

                           <ng-container matColumnDef="Company">
                              <th mat-header-cell *matHeaderCellDef> Company </th>
                              <td mat-cell *matCellDef="let company"> {{company.companyName}} </td>
                           </ng-container>

                           <ng-container matColumnDef="Assigned Users">
                              <th width="700" mat-header-cell *matHeaderCellDef> Assigned Users </th>
                              <td mat-cell *matCellDef="let company; let i = index">
                                 <span *ngFor="let user of company.assignedUsers">
                                    {{user.assignedUserName}}
                                 </span>
                              </td>
                           </ng-container>

                           <ng-container matColumnDef="Actions">
                              <th class="text-center" mat-header-cell *matHeaderCellDef> Actions </th> 
                              <td mat-cell class="lastChild" *matCellDef="let company">
                                 <div class="text-center">
                                    <span class="iconFont"><i class="fa fa-pencil text-success" aria-hidden="true" title="Edit" (click)="updateCompany(company)"></i></span>&nbsp;&nbsp;
                                    <span class="iconFont"><i class="fa fa-trash-o colorRed" aria-hidden="true" title="Delete"(click)="deleteCompany(company.companyId)"></i></span>
                                  </div>
                              </td>
                           </ng-container>

                           <tr mat-header-row *matHeaderRowDef="companyTable"></tr>
                           <tr mat-row *matRowDef="let row; columns: companyTable;"></tr>
                           </table>

                          </div>
                      </div>
    
                    </div>
                  </div>
                </div>
               </div>

          </div>
       </div>
    </div>
 </div>
<app-add-company *ngIf="addCompanyData" [editData]="editData"></app-add-company>