<section class="mainBody">
    <div class="pageWrapper">
       <div class="pageBody">
            <div class="authPage">
                <div class="authInner">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-4 col-md-4 pd-0">
                                <div class="authDesc">
                                <div class="authInnerDiv">
                                    <div class="authLogo"><img src="assets/images/logo.png" alt="image"/></div>
                                    <h2>
                                    Cleng</h2>
                                    <p>Enter the email address associated to your account. We will send you a reset password link, this link will expire in 1 hour.</p>
                                </div>
                                </div>
                            </div>
                            <div class="col-lg-8 col-md-8 pd-0">
                                <div class="authForm">
                                    <div class="row">
                                    <div class="col-sm-12">
                                        <h1>Reset Password</h1>
                                    </div>
                                    </div>
                                    <form #forgotForm="ngForm" (ngSubmit)="forgotForm.valid && submit(forgotForm)" novalidate class="was-validated1">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <mat-form-field appearance="outline">
                                                    <mat-label>Password</mat-label>
                                                    <input matInput type="password" #newPassword="ngModel" [(ngModel)]="forgotPassword.newPassword" name="newPassword" minlength="8" class="form-control" class="form-control" placeholder="password" required />
                                                    <mat-error *ngIf="newPassword.hasError('required')">
                                                      Password is <strong>required</strong>
                                                    </mat-error>
                                                    <mat-error *ngIf="newPassword.hasError('minlength')">
                                                      Password must be atleast 8 characters long
                                                    </mat-error>
                                                </mat-form-field>
                                            </div>
                                            <div class="form-group">
                                                <mat-form-field appearance="outline">
                                                    <mat-label>Confirm Password</mat-label>
                                                    <input matInput type="password" #confirmPassword="ngModel" [(ngModel)]="forgotPassword.confirmPassword" appCompareDirectives="newPassword" name="confirmPassword" class="form-control" class="form-control" placeholder="Confirm Password" required />
                                                    <mat-error *ngIf="confirmPassword.hasError('required')">
                                                        Confirm password is <strong>required</strong>
                                                    </mat-error>
                                                    <mat-error *ngIf="confirmPassword.hasError('notEqual')">
                                                        Password and Confirm Password does not match
                                                    </mat-error>
                                                </mat-form-field>
                                            </div>
                                            <div class="form-group">
                                                <button type="submit" class="btn btn-black btnCss mt-20" id="btnLogin">Submit</button>
                                            </div>
                                        </div>
                                    </div>
                                    </form>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <hr>
                                        </div>
                                        <div class="col-sm-12">
                                            <div class="commonHead">
                                                <p><b>Back to <a [routerLink]="['/login']">Login</a></b></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
       </div>
    </div>
 </section>