<div class="br-mainpanel" style="position: relative;">
    <div class="br-pagebody">
        <div class="row row-sm">
            
            <div class="machineBgBreadcrumb">
                <div class="errorClass">
                    <div class="errorClassInner">
                        <div class="errorClassMainDiv">
                            <h1>Error Page</h1>
                            <p>Something went wrong</p>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>