<section class="mainBody">
    <div class="pageWrapper">
       <div class="pageBody">
            <div class="authPage">
                <div class="authInner">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-4 col-md-4 pd-0">
                                <div class="authDesc">
                                <div class="authInnerDiv">
                                    <div class="authLogo"><img src="assets/images/logo.png" alt="image"/></div>
                                    <h2>
                                    Cleng</h2>
                                    <p>Enter the email address associated to your account. We will send you a reset password link, this link will expire in 1 hour.</p>
                                </div>
                                </div>
                            </div>
                            <div class="col-lg-8 col-md-8 pd-0">
                                <div class="authForm">
                                    <div class="row">
                                    <div class="col-sm-12">
                                        <h1>Reset Password</h1>
                                    </div>
                                    </div>
                                    <form #forgotForm="ngForm" (ngSubmit)="forgotForm.valid && submit(forgotForm)" novalidate class="was-validated1 responsiveForm">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            
                                            <div class="form-group">
                                                <mat-form-field appearance="outline">
                                                   <mat-label>Email Address</mat-label>
                                                   <input matInput type="email" #email="ngModel" [(ngModel)]="forgotPassword.email" class="form-control" name="email" class="form-control" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" placeholder="email" required />
                                                   <mat-error *ngIf="email.hasError('required')">
                                                      Email is <strong>required</strong>
                                                   </mat-error>
                                                   <mat-error *ngIf="email.hasError('pattern') && !email.hasError('required')">
                                                      Please enter a valid email
                                                   </mat-error>
                                                </mat-form-field>
                                            </div>
                                            <div class="form-group">
                                                <button type="submit" class="btn btn-black btnCss mt-20" id="btnLogin">Reset Password</button>
                                            </div>
                                        </div>
                                    </div>
                                    </form>
                                    <div class="row">
                                            <div class="col-sm-12">
                                                <hr>
                                            </div>
                                            <div class="col-sm-12">
                                                <div class="commonHead">
                                                    <p><b>Back to <a [routerLink]="['/login']">Login</a></b></p>
                                                </div>
                                            </div>
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
       </div>
    </div>
 </section>