// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.
// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();
// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$cleng-client-portal-primary: mat-palette($mat-indigo);
$cleng-client-portal-accent: mat-palette($mat-pink, A200, A100, A400);
// The warn palette is optional (defaults to red).
$cleng-client-portal-warn: mat-palette($mat-red);
// Create the theme object (a Sass map containing all of the palettes).
$cleng-client-portal-theme: mat-light-theme($cleng-client-portal-primary, $cleng-client-portal-accent, $cleng-client-portal-warn);
// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($cleng-client-portal-theme);

/* You can add global styles to this file, and also import other style files */

@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "./assets/scss/common.scss";
@import '~ngx-toastr/toastr.css';
@import '~ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import '~ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';
.mat-form-field-infix {
    width: 380px !important;
    padding: 1px 0px 4px 0px !important;
    border-top: 0.5em solid transparent !important;
}

.mat-form-field-infix {
    @media screen and (max-width: 1024px) {
        width: 300px !important;
    }
}

.mat-form-field-infix {
    @media screen and (max-width: 768px) {
        width: 315px !important;
    }
}

.mat-form-field-infix {
    @media screen and (max-width: 375px) {
        width: 230px !important;
    }
}

.userValidClass {
    .mat-form-field-outline {
        border: 2px solid #F44336 !important;
        border-radius: 5px !important;
    }
}

.mat-checkbox-checked.mat-accent .mat-checkbox-background {
    background-color: #2396e9;
}

.pdfDatePicker {
    .mat-form-field-infix {
        top: -10px !important;
    }
}

.qrcodeCss {
    img {
        min-height: 300px !important;
    }
}

table {
    overflow: scroll;
}

.custom-class {
    .mat-form-field-wrapper {
        padding-bottom: 0 !important;
    }
}

.customModal {
    .modal-body {
        // height: 350px;
        // height: 270px;
        overflow-y: auto;
    }
}

.table-container {
    height: 400px;
    width: 900px;
    overflow: scroll;
}

.loading-shade {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 56px;
    right: 0;
    background: rgba(0, 0, 0, 0.15);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mat-table-sticky:first-child {
    border-right: 1px solid #e0e0e0;
}

.mat-table-sticky:last-child {
    border-left: 1px solid #e0e0e0;
}

td.mat-column-star {
    width: 5px;
    padding-right: 4px;
}

th.mat-column-position,
td.mat-column-position {
    padding-left: 4px;
}

.sectionBg.show:has(+ nav + app-sidebar .show) {
    display: block;
}

.multipleShortTermReport {
    table{
        tr{
            td{
                &:nth-child(1){
                    width: 90px;
                }
                &:nth-child(2){
                    width: 60px;
                }
                &:nth-child(3){
                    width: 130px;
                }
                &:nth-child(4){
                    width: 110px;
                }
                &:nth-child(5){
                    width: 22%;
                }
                &:nth-child(6){
                    width: 10%;
                }
                &:nth-child(8){
                    width: 110px;
                }
                &:last-child{
                    width: 100px;   
                }
            }
        }
    }
}
