.customdatePicker {
    display: flex;
    padding: 15px 20px 0;
    justify-content: flex-end;
    flex-flow: wrap;
    align-items: center;
    grid-gap: 15px;

    @media (max-width: 767px) {
        justify-content: center;
        align-items: center;
    }

    form {
        display: flex;
        align-items: center;
        grid-gap: 15px;

        @media (max-width: 767px) {
            flex-flow: wrap;
            grid-gap: 24px;
        }

        .datePickerWrapper {
            position: relative;

            mat-error {
                position: absolute;
                font-size: 11px;
                left: 0;
                white-space: nowrap;
            }
        }

        mat-form-field {
            max-width: 160px;
            @media (max-width: 450px) {
                max-width: 100%;
            }
            ::ng-deep {
                .mat-form-field-wrapper {
                    margin: 0;
                    padding: 0;

                    .mat-form-field-flex {
                        .mat-form-field-infix {
                            display: flex;
                            align-items: center;

                            input {
                                height: auto;
                            }
                        }
                    }
                }
            }
        }

        mat-datepicker-toggle {
            ::ng-deep {
                .mat-icon-button {
                    width: 25px;
                    height: 25px;
                    line-height: 25px;
                }
            }
        }

        input[readonly="true"] {
            background-color: transparent;
            font-size: 14px;
            padding: 0;
        }
    }

    button {
        height: 32px;
        min-width: 70px;
    }
}