<div class="customdatePicker">
  <form #form="ngForm" (ngSubmit)="form.valid" novalidate>
    <div class="datePickerWrapper">
      <mat-form-field appearance="outline">
        <input matInput class="form-control" 
          name="startDate"
          placeholder="Start Date" 
          [matDatepicker]="startDate" 
          [min]="minDate" 
          [max]="maxDate" 
          [(ngModel)]="formDetails.startDate"
          #startDateControl="ngModel"
          required="true"
          readonly />
        <mat-datepicker-toggle matIconSuffix [for]="startDate"></mat-datepicker-toggle>
        <mat-datepicker #startDate></mat-datepicker>
      </mat-form-field>
      <mat-error *ngIf="(form.submitted || startDateControl.touched) && startDateControl.hasError('required')">
        Start date is required
      </mat-error>
    </div>
    <div class="datePickerWrapper">
      <mat-form-field appearance="outline">
        <input matInput class="form-control" 
          name="endDate"
          placeholder="End Date" 
          [matDatepicker]="endDate" 
          [min]="formDetails.startDate" 
          [max]="maxDate" 
          [(ngModel)]="formDetails.endDate"
          #endDateControl="ngModel"
          required="true"
          readonly />
        <mat-datepicker-toggle matIconSuffix [for]="endDate"></mat-datepicker-toggle>
        <mat-datepicker #endDate></mat-datepicker>
      </mat-form-field>
      <mat-error *ngIf="(form.submitted || endDateControl.touched) && endDateControl.invalid">
        <span *ngIf="endDateControl.hasError('required')">End date is required</span>
      </mat-error>
    </div>
    <button class="btn-orange" (click)="submit()" title="Generate Multiple Reports">
      Generate multiple reports
    </button>
  </form>
</div>