/*--header css--*/

.navbar {
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
    background-color: #fff;
    z-index: 999;
    padding: 0;
    @media screen and (min-width: 992px) {
        left: 260px;
        .headerLogo {
            display: none;
        }
    }
    .navbarWrapper {
        padding-left: 24px;
        padding-right: 24px;
        width: calc(100% - 260px);
        /* height: 64px; */
        /* float: right; */
        margin-left: auto;
        padding: 10px;
        z-index: 9;
        @media screen and (min-width: 992px) {
            width: 100%;
        }
        .search-field {
            .input-group {
                background: transparent;
                width: 305px;
                border: 1px solid #ddd;
                border-radius: 4px;
                .input-group-prepend {
                    color: #181824;
                    width: auto;
                    border: none;
                    i {
                        font-size: 14px;
                        margin-right: 0;
                        color: #000;
                        border-radius: 0px;
                        background-color: #ddd;
                    }
                }
                input {
                    font-size: 0.875rem;
                    padding: .5rem;
                }
            }
        }
        .navbar-nav {
            .nav-item {
                .nav-link {
                    position: relative;
                    padding: 6px 15px;
                    font-weight: 400;
                    font-size: 15px;
                    text-transform: uppercase;
                    border-radius: 3px;
                    line-height: 20px;
                    margin-left: 5px;
                    color: #000;
                    &:after {
                        display: none;
                    }
                    i {
                        margin-top: -3px;
                        top: 0;
                        position: relative;
                        margin-right: 3px;
                    }
                    span {
                        vertical-align: top;
                        text-transform: capitalize;
                    }
                    .notification {
                        position: absolute;
                        top: 0px;
                        border: 1px solid #fff;
                        right: 10px;
                        font-size: 9px;
                        background: #f44336;
                        color: #fff;
                        min-width: 20px;
                        padding: 0 5px;
                        height: 20px;
                        border-radius: 10px;
                        text-align: center;
                        line-height: 19px;
                        vertical-align: middle;
                        display: block;
                    }
                }
                .profileNotification {
                    background: #fff;
                    -webkit-box-shadow: 0 2px 30px 6px rgba(0, 0, 0, .1);
                    box-shadow: 0 2px 30px 6px rgba(0, 0, 0, .1);
                    position: absolute;
                    -webkit-transition: all .3s ease-in-out;
                    transition: all .3s ease-in-out;
                    width: 24rem;
                    right: -15px;
                    top: 54px;
                    left: auto;
                    overflow: visible;
                    border: none;
                    width: 15em;
                    li {
                        border-top: none;
                        line-height: initial;
                        padding: .7em 20px;
                        width: 100%;
                        cursor: pointer;
                        -webkit-transition: all .5s ease-in-out;
                        transition: all .5s ease-in-out;
                        &:hover {
                            background-color: #f1f1f1;
                        }
                        &:after {
                            content: "";
                            position: absolute;
                            top: -10px;
                            right: 30px;
                            -webkit-transform: rotate(45deg);
                            transform: rotate(45deg);
                            border: 10px solid #fff;
                            border-right-color: transparent;
                            border-bottom-color: transparent;
                        }
                        a {
                            font-size: 15px;
                            vertical-align: top;
                            padding-left: 0;
                            color: #666;
                            i {
                                font-size: 17px;
                                margin-left: 4px;
                                margin-right: 15px;
                            }
                        }
                    }
                }
            }
        }
    }
}

app-sidebar {
    position: relative;
    z-index: 99;
}

.sectionBg {
    background: rgba(0, 0, 0, 0.3);
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    display: none;
    z-index: 1;
    left: 0;
}